/* --------------------------------------------- Root / Default elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  /* Align all elements inside the full width of the browser*/
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
}

input[type='text'] {
  padding-left: 20px;
}

.button-sm {
  background-color: #5836e5;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  font-weight: 600;
  color: white;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
}

.button-lg {
  background-color: #5836e5;
  border: none;
  width: 175px;
  height: 45px;
  font-weight: 600;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
}

.button-lg:hover,
.button-sm:hover {
  background-color: #7556f3;
}

.button-lg:active,
.button-sm:active {
  background-color: #4829c2;
}

hr {
  opacity: 0.7;
}

/* --------------------------------------------- Navbar */

.nav-items {
  margin-right: 15px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-left {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  margin-right: 10px;
}

nav {
  margin-bottom: 50px;
}

/* Nav bar active */

.nav-menu li {
  line-height: 2;
  font-size: 20px;
  font-weight: 200;
}
.nav-menu {
  opacity: 1;
  color: black;
  position: absolute;
  top: -132px;
  left: 30px;
}

.landing.active {
  transform: translateY(150px);
  transition: all 0.5s cubic-bezier(0.54, -0.14, 0.52, 0.99);
}
/* Nav bar active */

@media screen and (min-width: 600px) {
  .nav-items {
    margin-right: 40px;
  }

  .nav-left {
    font-size: 20px;
  }

  .circle {
    width: 45px;
    height: 45px;
    margin-right: 20px;
  }

  .nav-left {
    margin-left: 50px;
  }
}

@media screen and (min-width: 900px) {
  .nav-items {
    margin-right: 60px;
  }

  .nav-left {
    font-size: 25px;
  }

  .circle {
    width: 55px;
    height: 55px;
    margin-right: 20px;
  }

  .nav-left {
    margin-left: 75px;
  }
}
/* --------------------------------------------- Landing Page */

.landing {
  background: url('https://i.imgur.com/5WtaNnV.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  transition: all 0.5s cubic-bezier(0.54, -0.14, 0.52, 0.99);
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-container h1 {
  font-size: 39px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
  width: 320px;
}

.landing-container p {
  font-size: 15px;
  width: 300px;
  margin-bottom: 30px;
}

.landing-container button {
  margin-bottom: 40px;
}

.image-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}

.image-square img {
  width: 125px;
}

@media screen and (min-width: 900px) {
  .landing-container h1 {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 500px;
  }

  .landing-container p {
    margin-left: 50px;
    line-height: 1.5;
    font-size: 15px;
    width: 350px;
    margin-bottom: 30px;
  }

  .landing-container {
    margin-left: 50px;
    display: unset;
    text-align: left;
  }

  .image-square img {
    width: 150px;
  }

  .image-square {
    width: 325px;
    height: 325px;
    position: relative;
    top: -265px;
    left: 550px;
  }

  .landing-container button {
    margin-bottom: 0;
    position: relative;
    top: -350px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1150px) {
  .landing-container h1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
    padding-top: 100px;
    margin-left: 70px;
    width: 600px;
  }

  .landing-container p {
    margin-left: 70px;
    line-height: 1.5;
    font-size: 20px;
    width: 500px;
    margin-bottom: 0px;
  }

  .landing-container {
    display: unset;
    text-align: left;
  }

  .image-square img {
    width: 150px;
  }

  .image-square {
    width: 350px;
    height: 350px;
    position: relative;
    top: -300px;
    left: 750px;
  }

  .landing-container button {
    position: relative;
    top: -350px;
    margin-left: 70px;
  }
}

/* --------------------------------------------- Features */
.features {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-container h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.features-container p {
  font-size: 17px;
  opacity: 0.9;
  width: 80%;
  margin-bottom: 35px;
}

.features-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #e4effa;
}

.features-single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-single-item:first-of-type {
  margin-top: 25px;
}
.features-single-item h4 {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 5px;
}

.features-single-item p {
  font-size: 13px;
  text-align: center;
  width: 200px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: #53d7f4;
  margin-top: 30px;
}

.image img {
  width: 75px;
}

@media screen and (min-width: 800px) {
  .features-container {
    width: 70%;
  }

  .features-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #e4effa;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .features-single-item h4 {
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .features-single-item p {
    font-size: 16px;
  }

  .features-single-item:first-of-type {
    margin-top: 0;
  }

  .features-single-item {
    margin: 0 25px;
  }
}

@media screen and (min-width: 1000px) {
  .features-single-item {
    margin: 0 55px;
  }
}

/* --------------------------------------------- Get started */

.get-started {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.get-started-footer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 235px;
  background-color: #e4effa;
  border-radius: 10px;
}

.get-started-box h2 {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  margin-bottom: 30px;
  font-weight: 800;
}

.get-started-box input {
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 10px;
}

@media screen and (min-width: 800px) {
  .get-started-box input {
    width: 35%;
  }

  .box-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 235px;
    background-color: #e4effa;
    border-radius: 10px;
  }

  .get-started-box {
    height: 180px;
  }

  .get-started-box h2 {
    position: relative;
    top: 35px;
    font-size: 20px;
    width: 325px;
    margin-bottom: 0px;
  }

  .button-lg {
    margin-top: 0;
    margin-left: 30px;
  }

  .button-lg,
  .get-started-box input {
    position: relative;
    top: 10px;
  }
}

/* --------------------------------------------- Video */

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video h1 {
  margin-top: 45px;
  margin-bottom: 25px;
}
.video-box {
  background: url('https://i.imgur.com/zNL2eGx.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .video-box {
    height: 350px;
  }
}

/* --------------------------------------------- Main-body */

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d3dfed;
}

.main-body h1 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 10px;
}

.main-body p {
  text-align: center;
  width: 350px;
  font-size: 15px;
  margin-bottom: 40px;
}

.main-container2 {
  display: none;
}

@media screen and (min-width: 800px) {
  .main-body {
    text-align: left;
  }
  .main-body p {
    text-align: left;
    width: 350px;
    font-size: 15px;
  }

  .main-container1 {
    margin-right: 70px;
  }

  .main-container2 {
    display: unset;
  }

  .body-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    background-color: #d3dfed;
  }

  .main-body p {
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .main-container1 {
    margin-right: 125px;
  }
}

/* --------------------------------------------- Gallery1 */

.gallery1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery1 h1 {
  font-size: 22px;
  margin-top: 50px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 200px;
  background-color: #9dabc2;
  border-radius: 10px;
  margin: 0 5px;
}

.gallery-container {
  display: flex;
  width: 375px;
  overflow-x: scroll;
  padding-left: 0;
}

.gallery-container img {
  width: 50px;
}

ul li {
  list-style: none;
}

.gallery1 h5 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.single-image-outer img {
  width: 150px;
}
.single-image-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 275px;
  background-color: #9dabc2;
  border-radius: 10px;
  margin: 0 10px;
}

.outer-image2,
.outer-image3 {
  display: none;
}

.outer-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.h5-bottom {
  display: none;
}

@media screen and (min-width: 900px) {
  /* bottom gallery section */
  .h5-top {
    display: none;
  }

  .outer-image2,
  .outer-image3 {
    display: unset;
  }

  .single-image-outer img {
    width: 120px;
  }

  .outer-image-container {
    margin-top: 75px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .outer-image-container .single-image-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    background-color: #9dabc2;
    border-radius: 10px;
    margin: 0 10px;
  }

  .outer-image-container h5 {
    font-size: 20px;
  }

  .h5-bottom {
    display: unset;
    position: relative;
    top: 20px;
    left: 10px;
  }
  /* bottom gallery section */
}
@media screen and (min-width: 1000px) {
  /* bottom gallery section */

  .outer-image-container .single-image-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    background-color: #9dabc2;
    border-radius: 10px;
    margin: 0 25px;
  }

  .h5-bottom {
    left: 20px;
    /* bottom gallery section */
  }
}

/* --------------------------------------------- Gallery2 */
.gallery2 {
  display: none;
}

.gallery2 button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.inner-container {
  display: flex;
  overflow: hidden;
  width: 50%;
}

.galleryTwoImage {
  min-width: 350px; /* to keep the same aspect ratio INSIDE a container, we use min-width */
  height: 350px;
}

.galleryTwoImage img {
  width: 100px;
}

.image-two {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 10px;
  background-color: #6f7a8b;
}

.image-one,
.image-three {
  border-radius: 15px;
  margin: 0 10px;
  background-color: #9dabc2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1300px) {
  .gallery2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-container {
    display: none;
  }

  .gallery1 h1 {
    display: none;
  }
}
/* --------------------------------------------- under - Gallery */

.under-gallery {
  margin-top: 80px;
  background: url('https://i.imgur.com/5WtaNnV.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 769px;
  color: white;
}

.under-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under-gallery h1 {
  margin-top: 215px;
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
}

.under-gallery p {
  margin-top: 20px;
  width: 90%;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (min-width: 800px) {
  .under-gallery {
    margin-top: 80px;
    background: url('https://i.imgur.com/5WtaNnV.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 769px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .under-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
  }

  .under-gallery h1 {
    margin-top: 215px;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
    width: 450px;
  }

  .under-gallery p {
    margin-top: 50px;
    width: 500px;
    text-align: left;
    font-size: 16px;
    line-height: 1.4;
  }

  .under-gallery {
    background: url('https://i.imgur.com/yAOS6vA.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .under-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
  }

  .under-gallery h1 {
    margin-top: 215px;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
    width: 700px;
  }

  .under-gallery p {
    margin-top: 50px;
    width: 700px;
    text-align: left;
    font-size: 22px;
    line-height: 1.4;
  }

  .under-gallery {
    background: url('https://i.imgur.com/yAOS6vA.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* --------------------------------------------- articles */

.articles {
  text-align: center;
}

.article1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article2 {
  display: none;
}

.articles h1 {
  margin-top: 75px;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 30px;
}

.articles h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 12px;
}

.articles p {
  font-size: 20px;
  width: 80%;
  margin-bottom: 24px;
}

@media screen and (min-width: 900px) {
  .article1 .single-image-outer,
  .article2 .single-image-outer {
    width: 350px;
    height: 350px;
  }

  .article1 .single-image-outer img,
  .article2 .single-image-outer img {
    width: 150px;
  }

  .single-image-outer {
    margin: 0;
  }

  .article1 {
    align-items: flex-start;
  }

  .article2 {
    display: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .articles-container {
    display: flex;
    justify-content: space-around;
  }

  .articles p {
    width: 350px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1250px) {
  .article1 .single-image-outer,
  .article2 .single-image-outer {
    width: 450px;
    height: 450px;
  }

  .articles h1 {
    margin-top: 85px;
    margin-bottom: 45px;
    text-transform: uppercase;
    font-size: 40px;
  }

  .articles h2 {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 12px;
  }

  .articles p {
    width: 450px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 35px;
  }
}

/* --------------------------------------------- map */

.map {
  margin-top: 80px;
  background: url('https://i.imgur.com/Qpwnaq1.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 510px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.map-container input {
  margin-top: 15px;
  height: 30px;
  border-radius: 12px;
  border: none;
}

@media screen and (min-width: 800px) {
  .map {
    margin-top: 80px;
    background: url('https://i.imgur.com/Di58GkT.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 510px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

/* --------------------------------------------- footer */

footer {
  background-color: #d3dfed;
}

.footer-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo h1,
.footer-circle {
  margin-top: 150px;
}

.footer-logo h1 {
  font-size: 25px;
  margin-left: 10px;
  text-transform: uppercase;
}

.footer-circle {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #5836e5;
  margin-right: 10px;
}

footer ul h1 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 70px;
}

.footer-list1 ul {
  margin-top: 100px;
  padding-left: 0;
}

.footer-list2 ul {
  margin-top: 100px;
  padding-left: 0;
}

footer ul li {
  text-align: center;
  line-height: 1.5;
}

footer hr {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90%;
  border: 1px solid grey;
}

footer p {
  width: 90%;
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}

.footer-body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-body-text2 {
  display: none;
}

.footer-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .footer-body-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-top: 70px;
  }

  footer p {
    text-align: left;
  }
  .footer-body-text {
    display: none;
  }
  .footer-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
  }

  .footer-list-container {
    display: flex;
  }

  .footer-list1 {
    margin-right: 50px;
  }

  footer ul h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-list1 ul {
    margin-top: 0;
  }

  .footer-logo {
    margin-right: 90px;
    align-items: unset;
  }

  .footer-logo h1,
  .footer-circle {
    margin-top: 0;
  }

  .footer-logo h1 {
    position: relative;
    top: 5px;
    letter-spacing: 1.8px;
  }

  .footer-list2 ul {
    margin-top: 0;
  }

  .footer-list1,
  .footer-list2 {
    margin-top: 10px;
  }

  .footer-list1 li:first-of-type {
    margin-top: 15px;
  }

  .footer-list2 li:first-of-type {
    margin-top: 15px;
  }

  footer ul li {
    text-align: left;
    font-size: 15px;
    line-height: 2.3;
  }

  footer {
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1100px) {
  .footer-body-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-top: 70px;
  }

  .footer-body-text {
    display: none;
  }
  .footer-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
  }

  .footer-list-container {
    display: flex;
    margin-left: 100px;
  }

  .footer-list1 {
    margin-right: 100px;
  }

  footer ul h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-list1 ul {
    margin-top: 0;
  }

  .footer-logo {
    margin-right: 90px;
    align-items: unset;
  }

  .footer-logo h1,
  .footer-circle {
    margin-top: 0;
  }

  .footer-logo h1 {
    position: relative;
    top: 5px;
    letter-spacing: 1.8px;
  }

  .footer-list2 ul {
    margin-top: 0;
  }

  .footer-list1,
  .footer-list2 {
    margin-top: 10px;
  }

  .footer-list1 li:first-of-type {
    margin-top: 15px;
  }

  .footer-list2 li:first-of-type {
    margin-top: 15px;
  }

  footer ul li {
    text-align: left;
    font-size: 18px;
    line-height: 2.3;
  }

  footer {
    padding-bottom: 75px;
  }

  footer p {
    font-size: 18px;
    width: 400px;
  }
}
